
$color-white: #ffffff;

$color-topmenu: #738593;

$color-topmenuhover: #56b5da!important;
$color-topmenuactive: #00a1df;
$color-icon-grey: #738592;

$color-default-svg:#738592;
$color-default-svg-hover:#56b5da!important;

$color-list-style-blue:#56b5da;

$color-menuheading-blue:#56b5da;
$color-menuheading-black:#2b2b2b;

$color-date:#777777;

// Theme Border Light Grey
$theme-border-grey: #f4f4f4;

// Theme Text Default Color
$text-color-default: #2b2b2b;

// default blue button
$btn-default-sky-blue:  #1caae3;

// Grey text Color
$text-grey: #afafaf;

// inner pages background-color
$inner-background-color: #f7f7f8;

// Route Box heading color
$search-routes-heading: #738593;


// check boxes border
$checkboxes-border-color:#2a96da;

// check boxes background
$checkboxes-background-color: #1eace3;

// checkboxes border-color
$checkboxes-border: #e0e0e0;

// search background
$search-background: #ebeef1;

// default grey + dark blue

$dark-grey-blue : #738593;


// sky blue default
$sky-blue-default: #00a0df;

//shippping dropdown color
$dropdown-shipping: #738593;
$white-color:#ffffff;

$light-grey-border: #f1f1f1;
$container-bg: #f2f3f5;

$primary-grey: #3f5165;
$active-text-color: #049bd5;
$grey-border: #e5e5e5;
$secondary-color: #02bdb6;
$base-font-size: 12px;
$primary-color: #00a2df;
$secondary-grey: #738593;
$disabled-text-color: #8a939d;
$mini-footer-bg: #c7ced4;

$font-weight-normal: 400;
$font-weight-bold: 600;

$modal-header-background: #fcfcfd;
$input-border: #d5dade;
$place-holder-color:#afafaf;
$secondary-text-color: #555555;

$font-pragmatica: 'pragmatica', sans-serif;
$font-proxima: 'proxima-nova', sans-serif;