<div class="user-modal animated fadeIn">
    <div class="modal-header">
      <h4 class="user-modal-title">Create Your New Account!</h4>

      <a href="javascript:;" class="have-an-account">
        <span class="already-account">
            Already Have An Account 
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
      </a>
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
      <div class="tabs-section">

        <div class="tabs-label">
          <label class="text-transform account-type-title">Select Your Account Type</label>
        </div>
       
      </div>
    </div>
    
  </div>